    body {
      display: flex;
      height: 100vh;
      margin: 0;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    video {
      /* max-width: calc(50% - 100px); */
      /* margin: 0 50px; */
      /* box-sizing: border-box; */
      /* border-radius: 20px; */
      /* padding: 0; */
      /* box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px; */
    }
    .localVideo {
      /* max-width: calc(25% - 50px); */
      width: 25%;
      margin: 0 50px;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 0;
      box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
    }
    .remoteVideo {
      /* width: calc(100% - 400px); */
      width: 75%; 
      margin: 0 50px;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 0;
      box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
    }    
    .copy {
      position: fixed;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      /* font-size: 18px; */
      font-size:1.0vw;
      color: rgba(0, 0, 0, 0.5);
    }
    
    #overlay{
      width:75%;
      height:95%;
      z-index: 2;
      position: fixed;
      top:5%;
      left:25%;
      /* remove spaces between blocks*/
      font-size:0;
      text-align: center;
    }
    .box{
      width:15%;
      height:13.5%;
      background-color: #c67059;
      display:inline-block;
      border:solid .03vw;
      border-color: gray;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      /* line-height: 13vh; */
      /* overflow-wrap: break-word; */
      /* text-align: center; */
      /* text-justify: center; */
      /* align-content: center; */
      /* justify-content: center; */
      /* display: flex; */
      /* -webkit-flex-flow: row wrap; */
    }
    .boxC1{
      width:15%;
      height:13.5%;
      background-color: #c67059;
      display:inline-block;
      border:solid .03vw;
      border-color: #413330;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      color: white;
    }
    .boxC2{
      width:15%;
      height:13.5%;
      background-color: #ca8865;
      display:inline-block;
      border:solid .03vw;
      border-color: #413330;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      color: white;
    }
    .boxC3{
      width:15%;
      height:13.5%;
      background-color: #cc997c;
      display:inline-block;
      border:solid .03vw;
      border-color: #413330;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      color: white;
    }
    .bigbox{
      width:22.5%;
      height:13.5%;
      background-color:#c67059;;
      display:inline-block;
      border:solid .03vw;
      border-color: gray;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
    }
    .bigboxC1{
      width:22.5%;
      height:13.5%;
      background-color:#c67059;;
      display:inline-block;
      border:solid .03vw;
      border-color: #413330;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      color: white;
    } 
    .bigboxC2{
      width:22.5%;
      height:13.5%;
      background-color:#ca8865;;
      display:inline-block;
      border:solid .03vw;
      border-color: #413330;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      color: white;
    } 
    .bigboxC3{
      width:22.5%;
      height:13.5%;
      background-color:#cc997c;;
      display:inline-block;
      border:solid .03vw;
      border-color: #413330;
      margin:0;
      padding:0;
      font-size:0.9vw;
      vertical-align: middle;
      color: white;
    }   
  
    #floater{
        float: left;
        height: 40%;
        width: 100%;
        /* margin-bottom: -50px; */
    }

    .b02{
      background-color: #ca8865;
    }

    .b03{
      background-color: #cc997c;
    }
